{% extends 'mainapp/base.html' %}
{% block content %}

<form class="col-6 m-auto pt-5 pb-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
       <p>
        <input type="text" name="username" autofocus=""
               value="{{ user.username }}"
               autocapitalize="none" autocomplete="username"
               maxlength="150" class="textinput textInput form-control"
               required="" id="id_username" placeholder="имя пользователя">
    </p>
    <p>
        <input type="text" name="email" autofocus=""
               value="{{ user.email }}"
               autocapitalize="none" autocomplete="email"
               maxlength="150" class="textinput textInput form-control"
               required="" id="id_email" placeholder="электронная почта">
    </p>
     <p>
        <input type="text" name="name" autocapitalize="none"
               value="{{ user.name }}"
               maxlength="150" class="textinput textInput form-control"
               required="" placeholder="Ваше имя">
    </p>
     <p>
        <input type="text" name="surname" autocapitalize="none"
               value="{{ user.surname }}"
               maxlength="150" class="textinput textInput form-control"
               required="" placeholder="Ваша фамилия">
    </p>
     <p>
        <input type="number" name="age" autocapitalize="none"
               value="{{ user.age }}"
                class="textinput textInput form-control"
               required="" placeholder="возраст">
    </p>
     <p>
        <input type="file" name="avatar" class="textinput textInput form-control"
               required="" placeholder="аватар">
    </p>
    <p>
        <button type="submit" class="btn btn-primary btn-block">
            Сохранить
        </button>
    </p>
</form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            {% if messages %}
                // Toasts
                $(".toast").toast({ delay: 5000 });
                 $(".toast").toast("show");
            {% endif %}
        });

    </script>
{% endblock %}